<!-- <nav class="flex justify-between p-2 bg-purple-900 text-white"> -->
  <nav class="nav">
    <h1><a routerLink="" >E-Shop</a></h1>
  <div *ngIf="menuType == 'default' || menuType == ''" class="nav-search ">
    <div class="flex">
      <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search Products" > 
      <button (click)="submitSearchInput(searchInput.value)" >Search</button>
      <ul class="suggested-result" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
        </li>
      </ul>
    </div>
   
    <ng-container [ngSwitch]="menuType">
      <ul *ngSwitchCase="'default'">
        <li><a class="mx-2" routerLink="register" >Register</a></li>
        <li><a class="mx-2" routerLink="" >Home</a></li>
        <li><a class="mx-2" routerLink="login" >Login</a></li>
        <li><a class="mx-2"  >My Cart ({{cartItems}}) </a></li>
      </ul>
      <ul *ngSwitchCase="''">
        <li><a class="mx-2" routerLink="user-addproduct" >Add Product</a></li>
        <li><a class="mx-2" routerLink="" >Home</a></li>
        <li><a class="mx-2" routerLink="user-productList" >Product List</a></li>
        <li><a class="mx-2"  [routerLink]="cartItems > 0 ? 'cart' : null" >My Cart ({{cartItems}}) </a></li>
        <li><a class="mx-2" routerLink="" >({{userName | titlecase}})</a></li>
        <li><a class="mx-2" [routerLink]="orderData > 0 ? 'my-order': null" >My order </a></li>
        <li><a class="mx-2"  (click)="logOut()">LogOut</a></li>
      </ul>
    </ng-container>
  </div>

</nav>